/* @media only screen and (max-width: 400px) {} case for screens up to 400 px*/

body {
    background-image: url(../assets/bg.jpg);
    background-repeat: repeat-x;
    background-color: #D9DBD6;
    overflow-y: auto;
}

marquee {
    font-family: Helvetica;
    color: red;
}

.grid-container {
    display: grid;
    height: auto;
    background-image: url(../assets/mockup.png);
    background-size: 1680px 1016px;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1016px;
}

.contact_menu {
    grid-area: leftbar;
    border: 1px solid #FFF;
    /* grid-column:1/2;
    grid-row:1/9; */
}

#user1,
#user2,
#user3,
#user4,
#user5 {
    display: grid;
    border-bottom: 0.1em solid #eeeeee
}

.contact_header {
    grid-area: upperbar;
    background-color: #F2F2F2;
}

.main_chat {
    min-height: 550px;
    height: auto;
    overflow-y: auto;
    background-color: transparent;
    margin-left: 480px;
    margin-top: 260px;
    width: 600px;
}

.write_window {
    height: 80px;
    background-color: rgba(255, 255, 255, 0.00);
    margin-top: 915px;
    margin-left: 510px;
    position: absolute
}

.nested1 {
    display: grid;
    min-height: 0;
    height: 50%;
}

.nested1 .username {
    /* grid-area:username */
    grid-column: 2/ span 3;
    align-self: center;
    justify-self: flex-start;
}

.nested2 {
    display: grid;
    min-height: 0;
    height: 100%;
}


/* .nested2  */

.contact_menu .nested1 .user_picture {
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5em;
    min-width: 2em;
    max-width: 2em;
}

.contact_header .nested2 .user_picture {
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5em;
    min-width: 2em;
}

.nested2 .username {
    grid-column: 2/5;
    font-size: 3em;
    align-self: center;
    justify-self: flex-start;
}

.nested3 {
    display: grid;
    height: 100%;
}

.nested3 #write_field {
    display: grid;
    grid-template-areas: 'placeholder placeholder micro';
    align-self: center;
    margin-left: 0.5em;
    grid-column: 1/4;
    font-family: Helvetica;
    font-size: 20px;
    width: 930px;
    height: 100%;
    align-content: center;
}

.nested3 #micro {
    grid-area: micro;
    padding-left: 45px;
    background-image: url("../assets/microphone.png");
    background-position: left;
    margin-left: 1em;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 60px;
    /* grid-column:4/5;
    grid-row:1/2; */
}

.nested3 #attachment {
    background-image: url("../assets/attachment.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 9px;
    background-size: cover;
    left: 12px;
}

.main_chat .bubble {
    display: block;
    width: -webkit-fit-content;
    width: fit-content;
    max-width: 60%;
    background: #1ec503;
    margin: 1em 0 1em 0.3em;
    padding: 0.5rem 0.85rem;
    line-height: 1.25rem;
    border-radius: 1.25rem;
    transition: all 1s;
}

.chat__message {
    color: #FFF;
    font-family: Helvetica;
    -webkit-transition: all 1s;
    transition: all 1s;
    display: none;
    opacity: 0;
    line-height: 1.2;
}

.bold {
    font-weight: bold;
}

#placeholder {
    grid-area: placeholder;
    color: #999;
    opacity: 1;
    display: inline-block;
    width: 100%;
    background-color: #FFF;
    border-color: #dddddd;
    border-radius: 4em;
    border-style: solid;
    border-width: 0em;
    padding: 5px;
    padding-left: 45px;
    height: 40px;
    padding-top: 30px;
}

.glitch {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-family: 'Press Start 2P';
    font-weight: 400;
    /*Create overlap*/
    margin: 0;
    line-height: 0;
    /*Animation*/
    animation: glitch1 2.5s infinite;
}

.glitch:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
}

.glitch:nth-child(3) {
    color: #1ec503;
    animation: glitch3 2.5s infinite;
}

h {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-family: 'Press Start 2P';
    font-weight: 400;
    /*Create overlap*/
    margin: 0;
    line-height: 0;
    /*Animation*/
    animation: glitch1 2.5s infinite;
}

h:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
}

h:nth-child(3) {
    color: #1ec503;
    animation: glitch3 2.5s infinite;
}


/*Keyframes*/

@keyframes glitch1 {
    0% {
        transform: none;
        opacity: 1;
    }
    7% {
        transform: skew(-0.5deg, -0.9deg);
        opacity: 0.75;
    }
    10% {
        transform: none;
        opacity: 1;
    }
    27% {
        transform: none;
        opacity: 1;
    }
    30% {
        transform: skew(0.8deg, -0.1deg);
        opacity: 0.75;
    }
    35% {
        transform: none;
        opacity: 1;
    }
    52% {
        transform: none;
        opacity: 1;
    }
    55% {
        transform: skew(-1deg, 0.2deg);
        opacity: 0.75;
    }
    50% {
        transform: none;
        opacity: 1;
    }
    72% {
        transform: none;
        opacity: 1;
    }
    75% {
        transform: skew(0.4deg, 1deg);
        opacity: 0.75;
    }
    80% {
        transform: none;
        opacity: 1;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes glitch2 {
    0% {
        transform: none;
        opacity: 0.25;
    }
    7% {
        transform: translate(-2px, -3px);
        opacity: 0.5;
    }
    10% {
        transform: none;
        opacity: 0.25;
    }
    27% {
        transform: none;
        opacity: 0.25;
    }
    30% {
        transform: translate(-5px, -2px);
        opacity: 0.5;
    }
    35% {
        transform: none;
        opacity: 0.25;
    }
    52% {
        transform: none;
        opacity: 0.25;
    }
    55% {
        transform: translate(-5px, -1px);
        opacity: 0.5;
    }
    50% {
        transform: none;
        opacity: 0.25;
    }
    72% {
        transform: none;
        opacity: 0.25;
    }
    75% {
        transform: translate(-2px, -6px);
        opacity: 0.5;
    }
    80% {
        transform: none;
        opacity: 0.25;
    }
    100% {
        transform: none;
        opacity: 0.25;
    }
}

@keyframes glitch3 {
    0% {
        transform: none;
        opacity: 0.25;
    }
    7% {
        transform: translate(2px, 3px);
        opacity: 0.5;
    }
    10% {
        transform: none;
        opacity: 0.25;
    }
    27% {
        transform: none;
        opacity: 0.25;
    }
    30% {
        transform: translate(5px, 2px);
        opacity: 0.5;
    }
    35% {
        transform: none;
        opacity: 0.25;
    }
    52% {
        transform: none;
        opacity: 0.25;
    }
    55% {
        transform: translate(5px, 1px);
        opacity: 0.5;
    }
    50% {
        transform: none;
        opacity: 0.25;
    }
    72% {
        transform: none;
        opacity: 0.25;
    }
    75% {
        transform: translate(2px, 6px);
        opacity: 0.5;
    }
    80% {
        transform: none;
        opacity: 0.25;
    }
    100% {
        transform: none;
        opacity: 0.25;
    }
}


/* #placeholder {
    position: relative;
    top: 50%;
    margin: -30px auto;
    text-align: center;
  } */

.glow {
    color: #f00;
    text-shadow: 0px 0px 10px #f00;
}

#placeholder span {
    margin-left: 0.4em;
    /* display: inline-block; */
    /* padding: 0 10px; */
}